<h1 style="font-size: 25px">Input data</h1>
<form ng-submit='create.createUser()'>
	<label for="create.objRegistrationData.userName">Введите имя:</label>
	<input type="text" ng-model="create.objRegistrationData.userName">
	<label for="login.objRegistrationData.password">Введите почту:</label>
	<input type="email" ng-model="create.objRegistrationData.email">
	<label for="login.objRegistrationData.password">Введите пароль:</label>
	<input type="password" ng-model="create.objRegistrationData.password">
	<button>Зарегистрироваться!</button>
</form>