html,
body {
    height: 100%;
    background: url("../background.jpg");
    background-size: cover;
}


body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: #000000;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .3);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

/* Remove outline on the forms and links */
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

