<h1>Phones</h1>
{{phonebook.list}}
<ul ng-repeat="list in phonebook.list">
	<li>{{list}}</li>
</ul>

<user-card ng-repeat="list in phonebook.list"></user-card>
<button ng-click="phonebook.showModalAddCard()">Добавить</button>

<form ng-if="phonebook.showModal" ng-submit="phonebook.addUserCard()">
	<input type="text" ng-model="phonebook.objUserAdd.firstname">
	<input type="text" ng-model="phonebook.objUserAdd.lastname">
	<input type="text" ng-model="phonebook.objUserAdd.address">
	<input type="text" ng-model="phonebook.objUserAdd.email">
	<input type="text" ng-model="phonebook.objUserAdd.phone1">
	<input type="text" ng-model="phonebook.objUserAdd.phone2">
	<button>Добавить</button>
</form>

